<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About page</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/works">Works</a>
  </nav>
  <section>
    <h1>Home</h1>
    <img src="https://as01.epimg.net/tikitakas/imagenes/2017/12/28/portada/1514448082_557886_1514448185_noticia_normal.jpg"/>
    <p>This website is about el gordo Ronaldo</p>
  </section>
</body>
</html>